@font-face {
    font-family: 'Kosugi Maru';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kosugi-maru-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/kosugi-maru-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kosugi-maru-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kosugi-maru-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kosugi-maru-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kosugi-maru-v11-latin-regular.svg#KosugiMaru') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Nerko One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nerko-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/nerko-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nerko-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nerko-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nerko-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nerko-one-v5-latin-regular.svg#NerkoOne') format('svg'); /* Legacy iOS */
}

/* MAIN SECTIONS */

body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    position: relative;
    font-family: 'Kosugi Maru', sans-serif;
    letter-spacing: 0.06em;
    line-height: 1.4;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    opacity: 0.2;
}

#content {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: scroll;
    margin: auto;
    padding: 0px 48px 0px 48px;
    scrollbar-color: grey rgba(0, 0, 0, 0);
    overflow-x: hidden;
}

a {
    color: darkslateblue;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

/* HEADER */

header {
    width: 60%;
    overflow: hidden;
    margin: 0 auto 48px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    background: linear-gradient(hsla(0, 0%, 0%, 0), hsla(211, 55%, 85%, 0.8));
}

.nameContainer{
    width: 100%;
    margin-bottom: 64px;
    margin-left: 14%;
}

.nameContainer * {
    margin: 0;
    font-family: 'Nerko One';
    line-height: 0.7;
}

h1 {
    font-size: 128px;
}

h2 {
    font-size: 48px;
}

nav {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 24px;
}

.tab:hover {
    text-decoration: underline;
}

/* LANDING PAGE */


.home { 
    width: 50%;
    padding: 36px;
    margin: auto;
}

.about { 
    text-align: center;
    padding-bottom: 20px;
    font-style: italic;
    font-size: 18px;
}

.home h3 {
    font-size: 36px;
}

.home p { 
    font-size: 18px;
}

.home img {
    display: block;
    width: 240px;
    height: 240px;
    object-fit: contain;
    margin: auto auto 36px auto;
}

.infoGrid { 
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    justify-content: space-evenly;
}

.infoCell { 
    margin: auto;
}


/* MENU PAGE */

menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 70%;
    margin: auto;
}

.menuItem {
    width: 260px;
    height: 260px;
    position: relative;
    margin-bottom: 60px;
}

.itemInfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 18px;
}

.itemInfo * {
    padding: 5px 15px 15px 15px;
    height: 40px;
}

.itemName {
    text-align: left;
    border-right: 1px solid white;
    padding-right: 15px;
}

.itemPrice {
    text-align: right;
}
.menuIcon {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.unavailable * {
    opacity: 0.7;
}

.unavailable::before {
    opacity: 1;
    display: inline-block;
    content: 'Out Of Stock!';
    position: absolute;
    top: 40%;
    left: 0%;
    width: 260px;
    text-align: center;
    line-height: 2;
    z-index: 1;
    background-color: rgba(255, 0, 0, 0.8);
    font-size: 32px;
    letter-spacing: 0.08em;
}

/* CONTACT PAGE */

.contact { 
    width: 50%;  
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    padding: 36px;
}

.infoBox { 
    margin: auto;
    text-align: center;
    padding-bottom: 24px;
}

.contact textarea {
    font-size: 16px;
    width: 100%;
}

.send {
    width: 80px;
    height: 40px;
}

.received {
    text-align: right;
}

.animatedOpacity {
    animation-name: lightFade;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

/* FOOTER */

footer { 
    width: 60%;
    margin: 48px auto 0px auto;
    height: 48px;
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
}

footer img {
    width: 1em;
    height: 1em;
}

/* GENERIC CLASSES */

.invisible { 
    visibility: hidden;
}

.transparent {
    opacity: 0.5;
}

@keyframes lightFade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

.blueBg { 
    background: hsla(211, 55%, 85%, 0.8);
}

.bottomBorder { 
    border-bottom: 5px double hsla(0, 0%, 0%, 0.3);
}