body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    background-image: url('./donut-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


header {
    width: 60%;
    height: 200px;
    overflow: hidden;
    margin: auto;
}

.nameContainer{
    width: 60%;
}

.nameContainer * {
    line-height: 0.5;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 24px;
}

#content {
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: scroll;
    margin: auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.92);
    border: 32px double hsl(34, 100%, 97%)
}

 nav {
     width: 60%;
     height: 60px;
     margin: auto;
     display: flex;
     justify-content: space-between;
 }

 .tab:hover {
    text-decoration: underline;
 }

 article {
     width: 80%;
     margin-left: 10%;
     margin-top: 24px;
}

menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menuItem {
    width: 260px;
    height: 260px;
    position: relative;
    margin-bottom: 60px;
}

.itemInfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40px;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 18px;
}

.itemName {
    text-align: left;
    height: 100%;
    border-right: 1px solid white;
    padding-right: 15px;
}

.itemPrice {
    height: 100%;
    text-align: right;
}
.menuIcon {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.unavailable * {
    opacity: 0.7;
}

.unavailable::before {
    opacity: 1;
    display: inline-block;
    content: 'Out Of Stock!';
    position: absolute;
    top: 40%;
    left: 0%;
    width: 260px;
    text-align: center;
    line-height: 2;
    z-index: 1;
    background-color: rgba(255, 0, 0, 0.8);
    font-size: 32px;
    letter-spacing: 0.08em;
    /*transform:  translateX(-50%) translateY(-50%) rotate(-45deg);*/
}